<%= form_for @article do |f| %>
 
<% if @article.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@article.errors.count, "error") %> prohibited
      this article from being saved:
    </h2>
    <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
 
<div class="center">
  <subheader>
    <%= f.label :title %>
  </subheader>
  
  <p>
    <%= f.text_field :title, :size => "90%" %>
  </p>
  
  <subheader>
    <%= f.label :text %>
  </subheader>
  
  <p>
    <%= f.text_area :text, :size => "90%x20%" %>
  </p>

  <p>
    <%= f.submit %>
  </p>
</div>

<% end %>