<header class=center>
	  <%= @article.title %>
</header>
	
<div>
	<%= @article.text %>
</div>

<div class="center border">
	<%= link_to 'Edit', edit_article_path(@article) %> |
	<%= link_to 'Back', articles_path %>
</div>

<hr>

<div class="border">
	<subheader>Comments</subheader>
	<br>
	<table>
	  <% @article.comments.each do |comment| %>
	    <tr>
	      <td class="user"><%= comment.commenter %></td>
	      <td><%= comment.body %></td>
	      <td class="edit"><%= link_to 'Destroy', [comment.article, comment],
	               method: :delete,
	               data: { confirm: 'Are you sure?' } %></td>
	    </tr>
	  <% end %>
	</table>
</div> 

<hr>

<div class="border">
	<subheader>Add a comment:</subheader>
	<%= render 'comments/form' %>
</div> 

